:root {
	--primary: #ff6d24;
	--primary-transparent: #ff6d2460;
	--dark: #4e413b;
	--dark-transparent: #4e413b60;
	--light: #e2ded3;
	--light-transparent: #e2ded360;
	--error: #ff304f;
	--error-transparent: #ff304f60;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--light);
	color: var(--dark);
	font-size: 16px;
}

button,
a {
	color: var(--dark);
	border: none;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

.App {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
